.menu{
    list-style: none;
    padding: 0%;
    background:rgb(63, 61, 58);
    margin-bottom: 0%;
    text-align:left;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 40px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background:rgb(141, 254, 139);
    color: black;
}

.menu img{
    margin-top: -2%;
    width: 200px;
    float:right;
}


.titulo {
    text-align: center;
}